@using System.Configuration;
@{
    ViewBag.Title = "Home Page";
    string appConfig = ConfigurationManager.AppSettings["AppSetting"];
    string connStr = ConfigurationManager.ConnectionStrings["ApplicationServices"].ToString();
}

<h2>@ViewBag.Message</h2>
<p>
    AppSetting = @appConfig<br>connectionString = @connStr
</p>
